# =========================
# ODOO CONFIGURATION
# =========================
ODOO_HOST = odoo19_1
ODOO_PORT=8070

# =========================
# POSTGRES CONFIGURATION
# =========================
POSTGRES_HOST=postgres16_1
POSTGRES_VERSION=16
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PORT=5430
POSTGRES_PASSWORD=changeme
